# LLM & RAG 
groq>=0.9.0
chromadb
sentence-transformers==3.0.1

# Web Framework
flask==3.0.3
streamlit==1.36.0

# Data & ML 
pandas
numpy
scikit-learn

#Scraping 
requests==2.32.3
selenium==4.21.0
webdriver-manager==4.0.1
beautifulsoup4==4.12.3
undetected-chromedriver
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git

# NLP Bahasa Indonesia
PySastrawi>=1.0.0
nltk==3.8.1

# Utils 
python-dotenv==1.0.1
tqdm==4.66.4
